@{ Layout = null; }

<!DOCTYPE html>
<head>
    <title>Test</title>
</head>

<body>
    <h2>Test Map</h2>
    <fieldset>
        <legend>Melbourne Home</legend>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <div id="googleMap" style="height:400px;width:100%;"></div>
        <script>
            function myMap() {

                var locations = [
                    ['Melbourne CBD', -37.813611, 144.963056],
                    ['Flagstaff Gardens', -37.8111635, 144.9544162]
                ];

                var mapCenter = new google.maps.LatLng(-37.813611, 144.963056);
                var mapProp = { center: mapCenter, zoom: 15, scrollwheel: true, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                var infowindow = new google.maps.InfoWindow();

                var marker, i;

                for (i = 0; i < locations.length; i++) {
                    marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                        map: map
                    });

                    google.maps.event.addListener(marker, 'click', (function (marker, i) {
                        return function () {
                            infowindow.setContent(locations[i][0]);
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMGtyp-NB3OZ5z20vu3J90kkxGYXmdE2w&callback=myMap"></script>
    </fieldset>
</body>